# 忽略git追踪的文件



**/target

**/.settings

**/.project

**/.classpath

**/*.iml

**/.idea





**/Thumbs.db

**/.DS_Store

**/*.swp



**/catalina.base_IS_UNDEFINED

/bin
