<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huinong.truffle.payment.order.mono.dao.write.OutInMoneyWriteDAO">
	<!-- 添加结算付款单 -->
	<insert id="addOneOutInMoney" useGeneratedKeys="true" keyProperty="id" parameterType="com.huinong.truffle.payment.order.mono.entity.OutInMoneyEntity">
		INSERT INTO  hnp_out_money (main_order_no,order_no,order_serial_number,amount,
                            fee,fee_rule,trans_amt,receive_userid,receive_user_type,
                            accno,account_name,receive_bank_addr,receive_bank_name,
                            serial_number,pay_channel,pay_time,direct_status,bank_flg,
                            type)
        VALUES(
        	#{entity.mainOrderNo,jdbcType=VARCHAR},#{entity.orderNo,jdbcType=VARCHAR},
        	#{entity.orderSerialNumber,jdbcType=VARCHAR},#{entity.amount,jdbcType=DECIMAL},
            #{entity.fee,jdbcType=DECIMAL},#{entity.feeRule,jdbcType=VARCHAR},
            #{entity.transAmt,jdbcType=DECIMAL},#{entity.receiveUserid,jdbcType=BIGINT},
            #{entity.receiveUserType,jdbcType=VARCHAR},#{entity.accno,jdbcType=VARCHAR},
            #{entity.accountName,jdbcType=VARCHAR},#{entity.receiveBankAddr,jdbcType=VARCHAR},
            #{entity.receiveBankName,jdbcType=VARCHAR},#{entity.serialNumber,jdbcType=VARCHAR},
            #{entity.payChannel,jdbcType=VARCHAR},#{entity.payTime,jdbcType=TIMESTAMP},
            #{entity.directStatus,jdbcType=VARCHAR},#{entity.bankFlg,jdbcType=VARCHAR},
            #{entity.type,jdbcType=VARCHAR}
			) 
	</insert>
	
	<!-- 修改结算付款单 -->
	<update id="updateOneOutInMoney" >
		UPDATE hnp_out_money
        SET direct_status=#{entity.directStatus,jdbcType=VARCHAR},
        	res_code=#{entity.resCode,jdbcType=VARCHAR},
        	res_message=#{entity.resMessage,jdbcType=VARCHAR},
        	back_time=#{entity.backTime,jdbcType=TIMESTAMP}
        WHERE serial_number = #{entity.serialNumber,jdbcType=VARCHAR}
	</update>

</mapper>