<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huinong.truffle.payment.order.mono.dao.read.OrderItemReadDAO">
	<resultMap id="BaseResultMap" type="com.huinong.truffle.payment.order.mono.entity.HnpDetailEntity">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="order_from_system" property="sysFrom" jdbcType="VARCHAR" />
		<result column="need_pay" property="needPayAmt" jdbcType="DECIMAL" />
		<result column="sys_off_amt" property="sysOffAmt" jdbcType="DECIMAL" />
		<result column="pay_off_amt" property="payOffAmt" jdbcType="DECIMAL" />
		<result column="in_uname" property="payeeUserName" jdbcType="VARCHAR" />
		<result column="out_uid" property="appPayerId" jdbcType="BIGINT"/>
		<result column="amt" property="amt" jdbcType="DECIMAL"/>
		<result column="order_id" property="orderNo" jdbcType="VARCHAR"/>
		<result column="app_id" property="appId" jdbcType="TINYINT"/>
		<result column="in_uid" property="appPayeeId" jdbcType="BIGINT"/>
		<result column="order_summary" property="orderDesc" jdbcType="VARCHAR"/>
		<result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
		<result column="group_order_no" property="mainOrderNo" jdbcType="VARCHAR"/>
		<result column="id" property="orderId" jdbcType="BIGINT"/>
		<result column="pay_state" property="payState" jdbcType="VARCHAR"/>
		<result column="serial_number" property="serialNumber" jdbcType="VARCHAR"/>
		<result column="order_timestamp" property="orderTimestamp" jdbcType="TIMESTAMP"/>
		<result column="payed_timestamp" property="payedTimestamp" jdbcType="TIMESTAMP"/>
		<result column="finished_timestamp" property="finishedTimestamp" jdbcType="TIMESTAMP"/>
		<result column="closed_time	stamp" property="closedTimestamp" jdbcType="TIMESTAMP"/>
		<result column="refund_timestamp" property="refundTimestamp" jdbcType="TIMESTAMP"/>
	</resultMap>

	<!-- <parameterMap id=DetailDTO type="com.huinong.truffle.payment.order.mono.entity.HnpDetailEntity"/> -->

	<sql id="Base_Column_List">
		id,in_uname, out_uid, amt, order_id,app_id,in_uid,order_summary,shop_name,
		group_order_no,id,pay_state,serial_number,payed_timestamp,finished_timestamp,
		closed_timestamp,refund_timestamp,order_from_system,need_pay,sys_off_amt,
		pay_off_amt,order_timestamp
	</sql>


	<!-- 查询子订单信息 -->
	<select id="getDTOByUniqueValue" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hnp_order
		where serial_number=#{serialNumber,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询子订单列表信息 -->
	<select id="getOrderItemList" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hnp_order
		where group_order_no=#{mainOrderNo,jdbcType=VARCHAR} 
	</select>
	

</mapper>